@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./assets/images/background3.jpeg);
  background-size: cover;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
